.preview(ng-class="{selected: vm.isOpen}")
	.preview-section.title
		.preview-content.md-whiteframe-4dp
			md-card.card
				md-card-content
					.info
						span.md-subhead {{vm.post.author}}
						span.md-subhead {{vm.post.date}}
					span.md-headline {{vm.post.subtitle}}
					.tags
						span.md-subhead {{vm.post.tags}}
						//- span.md-subhead {{vm.post.intro}}
		.preview-code(ng-click="vm.open(vm.post.id)")
			.code
				h1.md-display-3 {{vm.post.title}}
	.preview-section(ng-repeat="section in vm.post.sections")
		.preview-content
			md-card.card
				md-card-content
					h3.md-display-1 {{section.title}}
					md-divider
					p {{section.content}}

		.preview-code
			md-card.code
				md-card-content
					p {{section.code}}					