.preview(ng-class="{selected: vm.isOpen}")
	.preview-section.title
		.preview-content.md-whiteframe-4dp
			md-card.card
				md-card-title
					md-card-title-text
						span.md-headline Card with image
						span.md-subhead Large
					md-card-title-media
						.md-media-lg.card-media
				md-card-actions(layout="row" layout-align="end center")
					md-button Action 1
					md-button Action 2
		.preview-code(ng-click="vm.open(vm.post)")
			.code
				h1.md-display-3 5 Things I Wish I Knew About Angular
	.preview-section
		.preview-content
			md-card.card
				md-card-content
					h3.md-display-1 1. Controller As
					md-divider
					p kdsahfkjsadhfkjsnekfjsdkjhfaskdjhflsdhf

		.preview-code
			md-card.code
				md-card-content
					p ksjdhfkjshdflksjdhfksdjfh
				
