.layout
	.layout-fixed
		.layout-header
			h1.md-display-4 WELCOME!
			h3.md-display-2 Web & Front End Development
			h5.md-display-1 By: Matt Hsiung 
				img(src="")
		.layout-footer
			h1 Good Bye
	.layout-main.md-whiteframe-12dp
		ui-view
